<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/cuadrado.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadrado</title>
</head>
<body>
    <h3><%=titulo%></h3>
        <hr>
   
    <div id="cuadrado">
        
        <input type="text" id="txtNumero" placeholder="Digite numero"><br>
        <button onclick="calcular()">Calcular</button>
        <br><br>
        <div id="respuesta"></div>
    </div>
        <script src="../js/calculo.js"></script>
</body>
</html>