*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color:white;
    font-size: 16px;
}

a{
    color:white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto ;
}

.nav-main{
    font-size:17px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 60px; 
    padding: 20px 0;
}
img{
   width: 45px; 
}

.nav-main ul{
display: flex;

}

.nav-main ul li{
   padding: 10px; 
}

.nav-main ul li a:hover{
    border-bottom:2px solid white ; 
 }

.nav-main ul.nav-menu{
flex: 1;
margin-left: 20px;
}

