.encabezado{
    text-align: center;
    padding: 10px;
    background-color: aqua;
}

* {
    box-sizing: border-box;
  }

.seccionIzq{
    background-color: bisque;
    padding-top: 10px;
    
    float: left;
    width: auto;
    height: 400px;
    box-sizing: border-box;
    
}

.seccionCentro{
    background-color: rgb(250, 182, 99);
    padding: 30px;
    text-align: center;
    height: 400px;
    
}

.seccionPie{
    text-align: center;
    padding: 10px;
    background-color: rgb(163, 156, 232);
}

a {
    
    padding: 16px;
    text-decoration: none;
     display: block;
     cursor: pointer;
     font-size: 18px;
  }


 a:hover {
    background-color: #ddd;
    color: black;
    font-size: 19px;

  }

