input, select, button{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    font-weight: bold;
    background-color: gray;
}

input:focus{
    background-color: rgb(255, 245, 233);
    border-color: 1px solid  blue ;
}

  